<div class="search-container">
    <label for="search-bar">Lookup a Pokemon</label>
    <input type="text" name="search" id="search-bar" #searchValue placeholder="e.g. Bulbasaur" required>
    <button id="test-button" (click)="get(searchValue.value)">Test data</button>
</div>

<app-result></app-result>

<h2>These might get your interest</h2>

<div class="examples">
  <div class="example-card"><app-card (cardEvent)="recieveId($event)"></app-card></div>
  <div class="example-card"><app-card (cardEvent)="recieveId($event)"></app-card></div>
  <div class="example-card"><app-card (cardEvent)="recieveId($event)"></app-card></div>
</div>